@import "tailwindcss";

/* ---------- Custom Font Faces ---------- */
@font-face {
  font-family: "Optima";
  src: url("/fonts/OPTIMA.woff2") format("woff2"),
    url("/fonts/OPTIMA.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/Optima_Medium.woff2") format("woff2"),
    url("/fonts/Optima_Medium.woff") format("woff");
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir Book.woff2") format("woff2"),
    url("/fonts/Avenir Book.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir Light.woff2") format("woff2"),
    url("/fonts/Avenir Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir Regular.woff2") format("woff2"),
    url("/fonts/Avenir Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Medium.ttf") format("truetype"),
    url("/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirRoman";
  src: url("/fonts/AvenirLTStd-Roman.woff2") format("woff2"),
    url("/fonts/AvenirLTStd-Roman.woff") format("woff");
  font-weight: 400;
  font-style: unset;
  font-display: swap;
}

@font-face {
  font-family: "AvenirHeavy";
  src: url("/fonts/Avenir_Heavy.woff2") format("woff2"),
    url("/fonts/Avenir_Heavy.woff") format("woff");
  font-weight: 800;
  font-style: unset;
  font-display: swap;
}

@font-face {
  font-family: "AvenirBook";
  src: url("/fonts/Avenir_Book.woff2") format("woff2"),
    url("/fonts/Avenir_Book.woff") format("woff");
  font-weight: 200;
  font-style: unset;
  font-display: swap;
}

@font-face {
  font-family: "AvenirLight";
  src: url("/fonts/Avenir_Light.woff2") format("woff2"),
    url("/fonts/Avenir_Light.woff") format("woff");
  font-weight: 200;
  font-style: unset;
  font-display: swap;
}


@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1360px;
  --breakpoint-3xl: 1540px;
}


/* ---------- Variables ---------- */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7A253A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Avenir", system-ui, sans-serif;
  --font-heading: "Optima", sans-serif;
  --font-avenirRoman: "AvenirRoman", sans-serif;
  --font-avenirHeavy: "AvenirHeavy", sans-serif;
  --font-avenirBook: "AvenirBook", sans-serif;
  --font-avenirLight: "AvenirLight", sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --breakpoint-3xl: 113.125rem;
}

/* ---------- Dark Mode ---------- */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* ---------- Base Styles ---------- */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.container {
  @apply px-[15px] mx-auto;

}

/* Base: light text (over dark background) */
.light-mode .header-icon {
  filter: brightness(0) invert(1);
  /* turns dark SVGs white */
  transition: filter 0.4s ease;
}

/* Dark mode: normal dark icons */
.dark-mode .header-icon {
  filter: brightness(1) invert(0);
  transition: filter 0.4s ease;
}

/* Optional: Text color for lucide icons */
/* .light-mode svg {
  color: white;
  transition: color 0.4s ease;
}

.dark-mode svg {
  color: black;
  transition: color 0.4s ease;
}
 */
/* featured property pagination */
.custom-pagination-featured {
  display: flex;
  gap: 10px;
  justify-content: center;
  position: absolute;
  bottom: 220px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  width: auto;
}

.custom-pagination-featured .swiper-pagination-bullet {
  width: 8px;
  height: 3px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
  margin: 0 !important;
  opacity: 1 !important;
}

.custom-pagination-featured .swiper-pagination-bullet-active {
  width: 40px;
}


/* press spotlight pagination */
.press-pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 40px;
}

.press-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 3px;
  background: rgba(124, 46, 46, 1);
  border-radius: 50px;
  transition: all 0.3s ease;
  margin: 0 !important;
  opacity: 1 !important;
}

.press-pagination .swiper-pagination-bullet-active {
  width: 40px;

}

/* imtiaz-properties */
.properties-pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.properties-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 3px;
  background: rgba(255, 255, 255, 1) !important;
  border-radius: 50px;
  transition: all 0.3s ease;
  margin: 0 !important;
  opacity: 1 !important;
}

.properties-pagination .swiper-pagination-bullet-active {
  width: 40px;
}

.lgoicon.sectw {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0) scale(0.1);
  opacity: 0.1;
  z-index: 3;
}


/* ---------------------------------------
   HERO SLIDER – BUILT-IN PAGINATION STYLES
-----------------------------------------*/
.hero-pro-slider .swiper-pagination {
  bottom: 170px !important;
}

@media (min-width:1560px) {
  .hero-pro-slider .swiper-pagination {
    bottom: 238px !important;
  }
}


.hero-pro-slider .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border-radius: 9999px !important;
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 1) !important;
  opacity: 1 !important;
}

.hero-pro-slider .swiper-pagination-bullet-active {
  background: #7A253A !important;
  border: 1px solid #7A253A !important;
}

.swiper-fade .swiper-slide {
  opacity: 0 !important;
  transition: opacity 2s cubic-bezier(0.16, 1, 0.3, 1) !important;
}

.swiper-fade .swiper-slide-active {
  opacity: 1 !important;
}

.btn-fill-blur {
  position: relative;
  overflow: hidden;
}

.btn-fill-blur::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 0;
  border-radius: inherit;
}

.btn-fill-blur:hover::before {
  transform: translateX(0);
}

.btn-fill-blur>span {
  position: relative;
  z-index: 10;
}



.pressspotlight-pagination .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border-radius: 9999px !important;
  background: transparent !important;
  border: 1px solid #404040 !important;
  opacity: 1 !important;
}

.pressspotlight-pagination .swiper-pagination-bullet-active {
  background: #7A253A !important;
  border: 1px solid #7A253A !important;
}